/*homeのcss*/
h2 {
    font-size: 1.5vw;
    font-weight:lighter;
    letter-spacing: 0.6vw;
    margin: auto;
    color: black;
}

.main{
    height: auto;
    font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, MS Pゴシック, MS PGothic, sans-serif;
}
.be{
    color: dimgray;
}
.be:hover{
    color: black;
}
.core{
    color: dimgray;
    letter-spacing: 0.1vw; 
    font-size:1vw;
}

.br{
    display: none;
}


@media screen and (max-width: 960px){
    h2 {
        font-size: 6vw;
        letter-spacing: 1.5vw;
        margin-bottom: 10vw;
    }
    .with{
        color: dimgray;
    }
    .core{
        font-size:4vw;
        letter-spacing: 0.5vw;
    }

    .br{
        letter-spacing: 0.5vw;
        display: block;
    }
}