/*全体共通のcss*/
:root {
  --header_footer_height: 5vw;
  --header_footer_height2:15vw;
  --max: 80px;
}
html {
  font-size: 1vw;
  background-color:  white;
  color: dimgrey;
}

body {
  font-family: "Yu Mincho","YuMincho","Lucida Sans Unicode","OCRB", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  text-align: center;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

ul{
  padding: 0;
  margin: 0;
}
li,a{
  text-decoration: none;
  list-style: none;
  color: dimgray;
  font-size: 0.6vw;
}
a:hover{
  color: burlywood;
}
p{
  margin: 0;
  font-size: 0.6vw;
}
h1 {
  margin: 0;
  font-size: 1.5vw;
  font-weight: bold;
  color: rgb(59, 59, 59);
}

/*ヘッダー*/
header{
  position: relative;
  top: 0;
  height: var(--header_footer_height);
  background-color:  #f5f5f5;
}
/*ナビゲーション*/
.nav {
  position: absolute;
  justify-content:space-between;
  display: flex;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0% 20vw;
  height: 5vw;
}
.text-bottom{
  position: absolute;
  bottom: 0;
}
.title{
  position: relative;
  width: 30vw;
  display: flex;
}

/*JETロゴの設定*/
.title1{
  letter-spacing: 0.5vw;
  margin: auto;
  margin-left: 0;
  position: relative;
}
.title2{
  color: brown;
  font-weight:bold;
  letter-spacing: 0.2vw;
  left: 3.7vw;
  font-size: 1.1vw;
}
.title3{
  font-weight: lighter;
  letter-spacing: 0.1vw;
  left: 10vw;
  font-size: 0.5vw;
  white-space: nowrap;
}
.space{
  margin: 0 1vw;
}

/*ナビゲーションタブ*/
.nav-list {
  width: 30vw;
}
.nav-list ul{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.nav-list a{
  display: block;
  padding: 0.5vw 1vw;
  letter-spacing: 0.2em;
}
#now a{
  color: burlywood;
}
#nowHome a{
  color: dimgray;
}
#red:hover{
  color: rgb(124, 45, 45);
}

/*メインコンテンツ　土台*/
.main{
  position: relative;
  margin: auto;
  width: 100%;
}



/*フッダー*/
footer{
  height: var(--header_footer_height);
  position: relative;
  background-color:  #f5f5f5;
}

.bottom{
  width: 60vw;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0vw 20vw;
}
.bottom ul{
  display: flex;
  justify-content:space-between;
}
.bottom ul li{
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}
/*SNSアイコンの設定*/
.sns{
  display: flex;
  width: 70px;
  justify-content:space-between;
}
.sns img{
  filter: saturate(0);
}
.sns img:hover{
  opacity: 0.5;
}
.mobile_layout{
  display: none;
}

/* ハンバーガー */
.btn-burger {
  display: none;
}
.nav-toggle{
  display: none;
}
span.br{
  display: inline-block;
}

.core{
  letter-spacing: 0; 
  font-size:1vw;
}

@media screen and (max-width: 960px){
  body{
    overflow-x: hidden;
  }
  h1{
    font-size: 6vw;
  }
  p{
    font-size: 2vw;
  }
  .core{
    letter-spacing: 0; 
    font-size:4vw;
  }

  /*ヘッダー*/
  header{
    height: var(--header_footer_height2);
    max-height: var(--max);
  }
  .nav {
    margin: auto;
    width: 100vw;
    height: var(--header_footer_height2);
    max-height: var(--max);
    z-index: 100;
    transform: none;
    top:0;
  }
  .title{
    position: relative;
    height: var(--header_footer_height2);
    max-height: var(--max);
    padding-left: 5vw;
  }
  .title2{
    left: 14vw;
    font-size: 3.5vw;
  }
  .title3{
    display: none;
  }
/*ナビゲーションタブ*/
  .nav-list {
    display: none;
    position: fixed;
    top: 0;
    text-align: left;
    background-color: gray;

    width: 100vw;
    height: 100vh;
  }

  .nav-list ul{
    flex-flow: column;
    height: 50%;
    margin-left: 10vw;
    justify-content: space-between;
    align-items:flex-start;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  .nav-list a {
    margin-top: auto;
    margin-bottom: auto;
    padding: auto;
    font-size: 4vh;
  }
  /*フッダー*/
  footer{
    width: 100vw;
    height: var(--header_footer_height2);
    max-height: var(--max);
  }
  .bottom{
    width: 100vw;
    position: relative;
    margin: 0;
  }
  .bottom ul{
    flex-direction:row-reverse;
    padding-left: 5vw;
  }

  /*SNSアイコンの設定*/
  .sns{
    width: 70px;
  }
  .mobile_layout{
    display: block;
    width: 70px;
  }


  /*ハンバーガーアイコン*/
  .btn-burger {
    position:absolute;
    z-index: 200;
    display: block;
    width: var(--header_footer_height2);
    max-width: var(--max);
    height: var(--header_footer_height2);
    max-height: var(--max);
    top: 0vw;
    right: 5vw;
  }

  /*ハンバーガー三本線*/
  .icon, .icon:before, .icon:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    height: 1px;
    width: 30px;
    background-color: black;
    border-radius: 2px;
    display: block;
    content: '';
    margin: auto;
  }

  /*三本線の間隔*/
  .icon:before {
    top: 20px;
  }
  .icon:after {
    top: -20px;
  }

  /*チェックボックス非表示*/
  .nav-toggle {
    display: none;
  }

  /*アイコンをクリックしたら*/
  .nav-toggle:checked ~ .btn-burger .icon {
    background: transparent;
  }
  .nav-toggle:checked ~ .btn-burger .icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  .nav-toggle:checked ~ .btn-burger .icon:after {
    transform: rotate(45deg);
    top: 0;
  }
  .nav-toggle:checked ~ .btn-burger {
    position: fixed;
  }
  
  .icon,
  .icon:before,
  .icon:after {
    transition: all .2s;
  }

  .nav-toggle:checked ~ .nav .nav-list{
    display: block;
    animation: fade .2s ease;
  }
  @keyframes fade {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }




}
