:root {
    --main_height: 35vw;
    --max_height:800px;
    --main_width: 90vw;
}
h2 {
    font-size: 1.2vw;
    font-weight: lighter;
    letter-spacing: 0.6vw;
    margin: 0;
    color: black;
}
p{
    line-height: 1.2vw;
}
.main{
    width: 80vw; max-width: 1800px;
    justify-content:center;
    align-items: center;
    display: flex;
    padding: 1vw 0;
}

/*上下中央*/
.center{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%)
}
/*上下左右中央*/
.true_center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
/*下寄せ*/
.btm{
    position: absolute;
    bottom: 0;
}

/*左要素*/
.box1{
    text-align: left;
    width: 25%;
    height: var(--main_height); max-height: var(--max_height);
}
.box1-1{
    position: relative;
    height: 30%;
    font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, MS Pゴシック, MS PGothic, sans-serif;
}
.core{
    letter-spacing: 0.1vw; 
    font-size: max(1vw,10px);
}
.box1-2{
    position: relative;
    height: 70%;
}
.box1-2 ul{
    display: flex;
    align-items:flex-end;
    width: 80%;
    height: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box1-2 ul::before{
    font-size: 0.6vw;
    content: ">>>Book Works";
    height: 1vw;
    position:absolute;
    left: 0; 
    top: -15px;
}
.box1-2 ul::after {
    content: "";
    width: 26%;
}
.box1-2 li{
    position: relative;
    width: 26%;
    height: 26%;
    margin-top: 1vw;
}
.box1-2 li img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

/*中央要素*/
.box2{
    position: relative;
    width: 43%;
    height: var(--main_height); max-height: var(--max_height);
}
.box2-1{
    width: 90%;
    height: 34vw; max-height: 700px;
    padding-right: 5%;
    right: 0;
    display: block;
}
.box2-1 img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: right bottom;
}

/*右要素*/
.box3{
    height: var(--main_height); max-height: var(--max_height);
    width: 32%;
    text-align: left;
}

.content{
  display: none;
  white-space: nowrap;
  color: black;
  font-size: 1.2vw;
}
.box3-1{
    position: relative;
    height: 30%;
}
.box3-1 div{
    position: absolute;
    bottom: 0;
    line-height: 2vw;
}

/*中央要素*/
.box3-2{
    position: relative;
    height: 35%;
}
/*文字詰め*/
.txt_pack{
    letter-spacing : -0.2em;
}
/*文字空き*/
.txt_spread{
    letter-spacing : 0.25em;
}
/*文字均等*/
.txt_equality{
    text-justify: inter-ideograph;
    text-align-last: justify;
}

/*右要素*/
.box3-3{
    position: relative;
    margin-top: auto;
    height: 35%;
    width: 100%;
}
/*BookNow!の表示フラグ*/
.bn{
    display: block;
}
.box3-3-1{
    height: 85%;
    width: 100%;
}
.box3-3-1 img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: left bottom;
}

/*スマホに適用*/
.br{
    display: none;
}
.br3{
    display: none;
}



@media screen and (max-width: 960px){
    .main{
        display: block;
        margin: 5vw;
        width: 90vw;
    }
    .btm{
        width: 100%;
        bottom: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    h2{
        font-size: 5vw;
    }
    p{
        line-height: 4.2vw;
    }
    .core{
        font-size: max(2vw,10px);
    }
    /*上要素*/
    .box1{
        width: var(--main_width);
        height: auto;
        margin-bottom: 5vw;
        margin: 20vw 0;
    }
    .box1-1{
        height: 10vw;
    }

    /*中央要素*/
    .box2_mobile{
        position: relative;
        width: var(--main_width);
    }
    /*bookworksの矢印*/
    .arrow1{
        justify-content: start;
        align-items: center;
        color: burlywood;
    }
    .arrow2{
        position: absolute;
        right: 0vw;
        width: 8px;
        height: 100%;
        border-bottom: 1px solid;
        transform-origin:right bottom;
        transform: rotate(45deg);
    }
    .text_move{
        position: relative;
        width: 20vw;
        text-align: left;
        transform-origin:left bottom;
        transform: rotate(90deg);
        border-bottom: solid burlywood 1px;

        animation: t_move 5s infinite;
    }
    @keyframes t_move {
        0% {
            opacity: 1;
            transform: translateY(0vw) rotate(90deg);
        }
        50%{
            opacity: 1;
            transform: translateY(50vw) rotate(90deg);
        }
        100% {
            opacity: 0;
            transform: translateY(50vw) rotate(90deg);
        }
    }

    /*スクロール領域*/
    .items li{
        width: 80vw;
        background-color:  #ebebeb;
        text-align: left;
        margin: 0 auto 20vw auto;
        padding-bottom: 5vw;
    }

    .item-title{
        margin: 5vw 0;
        padding: 0 2vw;
        font-size: 3.3vw;
    }
    .item-pic{
        height: 45vw;
        background-color: white;
    }
    .item-pic img{
        width: 100%;
        height: 100%;
        object-fit:contain;
        object-position:center;
    }
    .item-link{
        position: relative;
        padding: 0 2vw;
    }
    .box3-1 div{
        line-height: 4vw;
    }
    

    .comment{
        border-top: solid 2px #ebebeb;
        padding: 15vw 5vw 15vw 5vw;
        margin-top: 10vw;
        text-align: left;
    }
    
    /*スマホに適用*/
    .br{
        display: block;
    }
    /*スマホに非表示*/
    .br2{
        display: none;
    }
    /*スマホで横並び*/
    .br3{
        display: flex;
    }
}
